accelerate
datasets
torch>=2.5.0
transformers==4.52.4
diffusers>=0.36.0.dev0
qwen_vl_utils==0.0.14
einops
fastapi
gradio
huggingface_hub
numpy<2.3.0
omegaconf
Pillow
PyYAML
Requests
safetensors
tqdm
wandb
peft
torchvision